.inline_itens li{
    display: inline-block;
    vertical-align: middle;
}
.inline_itens ul{
    margin-left: 25%;
    display: inline-block;
    vertical-align: middle;
}
header {    
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    position: sticky;
    background-color: #0C6FF5;
    color: white;
}