.teste{
    padding-left: 25%;
}
#Logo{
    margin-top: 2%;
}

header {    
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    position: sticky;
    background-color: #0C6FF5;
    color: white;
}