/*General modifications*/

body{
    margin: 0%;
    padding: 0%;
    border: 0%;
}

/*Text modifications*/

p{
    color: white;
    vertical-align: middle;
}

/*Links text modifications*/

a:link {
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}